<div id= 'welcome_banner'>
  <%= link_to image_tag("bearslogo.jpg", :class => 'logo') %>
  <h1 class = 'welcome_head'> WELCOME TO <br> THE BEAR DEN </h1>
  <h2 class = 'welcome_head'> Chicago's #1 source of indefensible NFL rumors.</h2>
  <p style = "margin: 0px;"> Sign in to see a post's author </p>
  
</div>

<%= stylesheet_link_tag 'posts' %>