<h1 class = 'welcome_head'> WELCOME TO <br> THE BEAR DEN </h1>
<h2 class = 'welcome_head'> Chicago's #1 source of indefensible NFL rumors.</h2>
<h5 style = "text-align: center; margin: auto;"> Sign in to see a post's author <h5>

<%= stylesheet_link_tag 'posts' %>