
body {
  background-color: #ababff;
}

.link_button {
  display: block;
  color: #000000;
  background-color: rgb(167, 167, 167);
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  border-style: solid;
  width: 4%;
  margin: 0 auto; 
}