// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  font-family: Arial, Helvetica, sans-serif
}

.welcome_head {
  color: #ec7030; 
  position: relative;
  margin: 0px;

  -webkit-text-stroke-width: 0.8px;
  -webkit-text-stroke-color: black;

}

#sign_in_link {
  position: relative;
  float: right;
  display: block;
  color: #000000;
  background-color: grey;
  text-align: center;
  padding: 7px 8px;
  text-decoration: none;
  border-style: solid;

}


#active_user {
  float: right
}

.logo {
  position: relative;
  float: right;

}

#welcome_banner{
  width: 70%;
  vertical-align: top;
  margin: 0 auto;
  background-color: #40407e;
  text-align: center; 

}


#post_form {
  position: relative;
  margin: 0 auto; 
}

.post {
  margin: 0 auto; 
  background-color: white;
  color: black;
  border-style: solid;
  font-size: 20px;
  width: 50%
}

.poster {
  color: #40407e;
  font-weight: bold;
  font-size: 15px;
}

ul {
  list-style-type: none; 
}
